# Node modules
/node_modules

#venv
venv

# Environment variables (IMPORTANT: Contains private keys)
.env
.env.local
.env.production

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
